* {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/dust_scratches.png");
  -webkit-background-size: auto;
  -moz-background-size: auto;
  -o-background-size: auto;
  background-size: auto;
  background-repeat: repeat;
  background-attachment: fixed;
}

h4 {
  font-weight: 400;
  font-size: 1.5vw;

  /* padding-bottom: 3px; */
  line-height: 100%;
}

h1 {
  font-size: 5vw;
}

a {
}

a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: black;
  background-color: transparent;
}

a:active {
  color: black;
  background-color: transparent;
}

.container {
  display: grid;
  height: 100vw;
  grid-template-columns: 10vw 80vw 10vw;
  position: relative;
  grid-template-rows: 10% 80% 10%;
}

.signInUpDiv {
  /* display: none; */
  position: fixed; /* Stay in place */
  z-index: 9000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.outerSignDiv {
  /* display: none; */
  position: fixed; /* Stay in place */
  z-index: 9999; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  pointer-events: none;
}

.signInUpContent {
  pointer-events: auto;
  border-radius: 1%;
  position: relative;
  display: grid;
  grid-template-columns: 10% 80% 10%;
  color: white;
  grid-template-rows: 40% 4% 49%;
  background-color: #604685;
  margin: 8% auto;
  padding: 20px;
  border: none;
  height: 30vw;
  width: 50vw; /* Could be more or less, depending on screen size */
}

.signInForm {
  display: grid;
  grid-template-columns: auto;
  display: relative;

  grid-template-rows: 20% 25% 25% 30%;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 0;
  grid-row-end: 2;
}

.signInForm > label {
  font-weight: 600;
  top: 0;
  bottom: 0;
  font-size: 1.5vw;
  padding-left: 2%;
  grid-row-start: 1;
  grid-row-end: 2;
}

.signInUsername {
  letter-spacing: 1px;
  font-size: 1vw;
  outline: none;
  top: 0;
  height: 90%;
  bottom: 0;
  padding-left: 2%;
  grid-row-start: 1;
  grid-row-start: 2;
  border-style: solid;
  -webkit-letter-spacing: 2px !important;
  border: none;
  -webkit-border: 1px solid lightgray;
  -moz-border: 1px solid lightgray;
  padding-left: 10px !important;
  outline: none;

  outline: none;
  border-radius: 1px;
}

.signInPassword {
  height: 90%;
  letter-spacing: 1px;
  font-size: 1vw;
  outline: none;
  top: 0;
  bottom: 0;
  padding-left: 2%;
  grid-row-start: 2;
  grid-row-start: 3;
  border-style: solid;
  -webkit-letter-spacing: 2px !important;
  border: none;
  -webkit-border: 1px solid lightgray;
  -moz-border: 1px solid lightgray;
  padding-left: 10px !important;
  outline: none;

  outline: none;
  border-radius: 1px;
}

.signInSubmit {
  border: none;
  background-color: #1c68f7;
  color: white;
  outline: none;
  font-size: 1.5vw;
}

.signInSubmit:active {
  outline: 1px solid lightgray;
}

.signUpForm {
  display: grid;
  grid-template-columns: 10% auto 10%;
  display: relative;

  grid-template-rows: 17% 20% 20% 20% 25%;
  height: 100%;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}

.or {
  font-weight: 900;
  font-size: 2.9vw;

  color: white;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.signUpForm > label {
  font-size: 1.5vw;
  top: 0;
  font-weight: 600;
  bottom: 0;
  padding-left: 2%;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.signUpUsername {
  grid-column-start: 2;
  grid-column-end: 3;
  letter-spacing: 1px;
  font-size: 1vw;
  outline: none;
  padding-left: 2%;
  grid-row-start: 2;
  grid-row-end: 3;
  border-style: solid;
  -webkit-letter-spacing: 2px !important;
  border: none;
  -webkit-border: 1px solid lightgray;
  -moz-border: 1px solid lightgray;
  padding-left: 10px !important;
  outline: none;
  height: 90%;
  outline: none;
  border-radius: 1px;
}

.signUpPassword1 {
  grid-column-start: 2;
  grid-column-end: 3;
  letter-spacing: 1px;
  font-size: 1vw;
  outline: none;
  padding-left: 2%;
  margin-top: 1%;
  grid-row-start: 3;
  grid-row-end: 4;
  border-style: solid;
  -webkit-letter-spacing: 2px !important;
  border: none;
  -webkit-border: 1px solid lightgray;
  -moz-border: 1px solid lightgray;
  padding-left: 10px !important;
  outline: none;
  height: 90%;
  outline: none;
  border-radius: 1px;
}

.signUpPassword2 {
  grid-column-start: 2;
  grid-column-end: 3;
  height: 90%;
  letter-spacing: 1px;
  font-size: 1vw;
  outline: none;
  padding-left: 2%;
  padding-left: 2%;
  grid-row-start: 4;
  grid-row-end: 5;
  border-style: solid;
  -webkit-letter-spacing: 2px !important;
  border: none;
  -webkit-border: 1px solid lightgray;
  -moz-border: 1px solid lightgray;
  padding-left: 10px !important;
  outline: none;

  outline: none;
  border-radius: 1px;
}

.signUpSubmit {
  grid-column-start: 2;
  grid-column-end: 3;
  background-color: #1c68f7;
  border: none;
  color: white;
  grid-row-start: 5;
  grid-row-end: 6;
  outline: none;
  font-size: 1.5vw;
}

.signUpSubmit:active {
  outline: 1px solid lightgray;
}

.warningDiv {
  /* display: none; */
  position: fixed; /* Stay in place */
  z-index: 9000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.outerWarningDiv {
  /* display: none; */
  position: fixed; /* Stay in place */
  z-index: 9999; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  pointer-events: none;
}

.warningContent {
  pointer-events: auto;
  border-radius: 1%;
  grid-gap: 1vw;

  overflow: hidden;

  background-color: #604685;
  margin: 8% auto;
  padding: 20px;
  border: 1px solid transparent;
  height: 20vw;
  color: white;
  width: 50vw; /* Could be more or less, depending on screen size */
}

.warningWave {
  width: 10%;
}

.home {
  display: grid;
  grid-template-rows: 10% 10% 10% auto;
  text-align: center;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  position: relative;
}

.greeting {
  align-self: center;
  justify-self: center;
  color: #60c1a3;
  grid-row: 1 / 2;
  text-shadow: 0.3vw 0.3vw lightgray;
}

.message {
  text-shadow: 0.3vw 0.3vw lightgray;
  align-self: center !important;

  bottom: 0;
  left: 0;
  right: 0;
  justify-self: center !important;
  position: absolute;
  z-index: 2;
  grid-row: 2 / 3;
  font-size: 2vw;
  color: #2e3032;
  font-weight: 550;
}
/*
.stripe {
  z-index: 1;
  position: absolute;
  grid-row: 2 / 4;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../images/brush.png");
} */

.links {
  grid-row: 3 / 4;
  left: 1%;
  position: relative;
}

.facebook {
  bottom: 0;
  left: 34%;
  grid-row: 3 / 4;
  height: 70%;
  bottom: -30%;
  width: 10%;
  position: absolute;
  background-image: url("../images/facebook.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 68%;
}

.linkedin {
  bottom: 0;
  position: absolute;
  grid-row: 3 / 4;
  height: 70%;
  bottom: -30%;
  width: 10%;
  left: 54%;
  background-image: url("../images/linkedin.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 68%;
}

.medium {
  bottom: 0;
  position: absolute;
  grid-row: 3 / 4;
  height: 70%;
  bottom: -30%;
  width: 10%;
  left: 44%;
  background-image: url("../images/medium.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 68%;
}

.email {
  bottom: 0;
  position: absolute;
  grid-row: 3 / 4;
  height: 70%;
  bottom: -31%;
  width: 9%;
  left: 24%;
  background-image: url("../images/email.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 88% 100%;
}

.stackOverflow {
  bottom: 0;
  position: absolute;
  grid-row: 3 / 4;
  height: 70%;
  bottom: -30.5%;
  width: 8.5%;
  left: 65%;
  background-image: url("../images/stackoverflow.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 87% 97%;
}

textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  -webkit-box-sizing: border-box;

  -moz-box-sizing: border-box;

  box-sizing: border-box;

  -webkit-background-clip: padding;

  -moz-background-clip: padding;

  -webkit-border-radius: 0;

  -moz-border-radius: 0;

  -ms-border-radius: 0;

  -o-border-radius: 0;

  -webkit-appearance: none;

  outline: 0;

  margin: 0;

  padding: 0;
}
